*{
    margin: 0;
    padding: 0;
    font-family:  sans-serif, Arial, Helvetica;
    box-sizing: border-box;
}

body{
    background-image: url('/images/sample1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.container{
    width: 100%;
    min-height: 100vh; 
    padding: 10px;
}

.todo-app{
    width: auto;
    max-width: 540px;
    background: rgba(255,255,255,.8);
    margin: 40px auto; 
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h1{
   color: rgb(23, 23, 192);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.inputspace{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: whitesmoke;
    border-radius: 15px;
    padding-left: 15px;
    margin-b ottom: 25px;
}

input{
    flex: 1;
    border: none;
    /* border-radius: 15px; */
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
    /* color:black */
}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    border-radius: 40px;
    background:tomato;
    color: rgb(255, 255, 255);
    /* font-weight: bold; */
    font-size: 17px;
    cursor: pointer;
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: " ";
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 9px;
    left: 8px;
 }

 ul li.checked{
    color: #555;
    text-decoration: line-through;
 }

 ul li.checked::before{
    background-image: url(images/checked.png);
 }

 ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
 }

 ul li span:hover{
    background: #c6c9ce;
 }